/* all other CSS files are from Bootstrap */

body {
  padding-top: 50px;
}

/* Custom page footer */
.footer {
  color: #777;
}

.footerspacer {
  border-top: 1px solid #e5e5e5;
	margin-top:40px;
  padding-top: 10px;
}

.container pre {
	letter-spacing: 0.2em;
}
