<!DOCTYPE html>

<html lang="en" manifest="../cache.manifest">
<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">

	<title>{{title}}</title><!-- Bootstrap -->
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../css/morse.css" rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<link rel="shortcut icon" href="../css/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../css/apple-touch-icon-114x114-precomposed.png" />
</head>

<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">{{title}}</a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					{{#sections}}
					<li {{#active}}class="active"{{/active}}><a href="{{href}}">{{name}}</a></li>
					{{/sections}}
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>

	<div class="jumbotron">
		<div class="container">
			<h1>{{name}}</h1>
			{{{introText}}}
		</div>
	</div>

	<div class="container">
		<div class="row"><div class="col-sm-10 col-md-8 col-lg-7">
			{{#exercises}}
				{{#newCharacters}}
					<h2>{{#i18n}}newCharactersTitle{{/i18n}}</h2>
					<p>{{#i18n}}newCharactersInstruction{{/i18n}}</p>
					<p>
						{{#characters}}
							<button type="button" data-morse-play="{{character}}" data-morse-playbutton="true" data-morse-speed="{{speed}}" class="btn btn-primary">&nbsp;&nbsp;&nbsp;{{character}}&nbsp;&nbsp;&nbsp;</button>
						{{/characters}}
					</p>
				{{/newCharacters}}

				{{#randomGroups}}
					<h2>{{#i18n}}randomGroupsTitle{{/i18n}}</h2>
					<p>{{#i18n}}randomGroupsInstruction{{/i18n}}</p>
					<p>
						<button type="button" data-morse-random="{{characters}}" data-morse-playbutton="true" data-morse-speed="{{speed}}" class="btn btn-primary">{{#i18n}}playButton{{/i18n}}</button>
						<button type="button" data-morse-stop="stop" class="btn btn-primary" disabled="disabled">{{#i18n}}stopButton{{/i18n}}</button>
					</p>
					<pre></pre>
				{{/randomGroups}}

				{{#touchGroups}}
					<h2>{{#i18n}}touchGroupsTitle{{/i18n}}</h2>
					<p>{{#i18n}}touchGroupsInstruction{{/i18n}}</p>
					<p>
						<button type="button" data-morse-touch="{{#keys}}{{key}}{{/keys}}" data-morse-playbutton="true" data-morse-speed="{{speed}}" class="btn btn-primary">{{#i18n}}playButton{{/i18n}}</button>
						<button type="button" data-morse-stop="stop" class="btn btn-primary" disabled="disabled">{{#i18n}}stopButton{{/i18n}}</button>
					</p>
					<div class="row">
						<div class="col-xs-6"><pre></pre></div>
						<div class="col-xs-6"><pre></pre></div>
					</div>
					<input type="text" class="invisible" />
					{{#showKeys}}
						<p>{{#keys}}
						<button type="button" data-morse-touch-key="{{key}}" class="btn btn-primary" disabled="disabled" style="margin-bottom:4px;">&nbsp;&nbsp;&nbsp;{{key}}&nbsp;&nbsp;&nbsp;</button>
						{{/keys}}</p>
					{{/showKeys}}
				{{/touchGroups}}

				{{#visibleMessages}}
					<h2>{{#i18n}}visibleMessagesTitle{{/i18n}}</h2>
					<p>{{#i18n}}visibleMessagesInstruction{{/i18n}}</p>
					<p>
						<select class="form-control" style="width:auto; display:inline-block;">
							{{#messages}}
								<option value="{{message}}">{{description}}</option>
							{{/messages}}
						</select>
						<button type="button" data-morse-visibleMessage="true" data-morse-playbutton="true" data-morse-speed="{{speed}}" class="btn btn-primary">{{#i18n}}playButton{{/i18n}}</button>
						<button type="button" data-morse-stop="stop" class="btn btn-primary" disabled="disabled">{{#i18n}}stopButton{{/i18n}}</button>
					</p>
					<pre></pre>
				{{/visibleMessages}}

				{{#invisibleMessages}}
					<h2>{{#i18n}}invisibleMessagesTitle{{/i18n}}</h2>
					<p>{{#i18n}}invisibleMessagesInstruction{{/i18n}}</p>
					<p>
						<select class="form-control" style="width:auto; display:inline-block;">
							{{#messages}}
								<option value="{{message}}">{{description}}</option>
							{{/messages}}
						</select>
						<button type="button" data-morse-invisibleMessage="true" data-morse-playbutton="true" data-morse-speed="{{speed}}" class="btn btn-primary">{{#i18n}}playButton{{/i18n}}</button>
						<button type="button" data-morse-stop="stop" class="btn btn-primary" disabled="disabled">{{#i18n}}stopButton{{/i18n}}</button>
					</p>
				{{/invisibleMessages}}


				{{{plainHtml}}}
			{{/exercises}}

			<div class="footerspacer"></div>

			{{#pagination}}
			<ul class="pagination">
				{{#pages}}
				<li{{#active}} class="active"{{/active}}><a href="{{href}}">{{{number}}}</a></li>
				{{/pages}}
			</ul>
			{{/pagination}}

			<div class="footer">
						<p><a href="http://netaction.github.io/dit-dah-di-dit/">dit-dah-di-dit</a> by <a href="https://www.netaction.de">netAction</a></p>
			</div>
		</div></div><!-- grid row -->
	</div><!-- /.container -->
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="../js/jquery-1.10.2.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/morseSynth.js"></script>
	<script src="../js/script.js"></script>
</body>
</html>

